 @font-face {
    font-family: 'digital-7';
    src: url(../assests/fonts/digital_7/digital-7.ttf);
 }
 .screen{
    font-family:"digital-7",sans-serif;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 3.5rem;
    height: 50px;
    border:none;
    background-color: #25a8e0;
    color: #fff;
    text-align: right;
    padding: 10px 20px;
 }